.course-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__search mat-form-field {
    width: 300px;
    margin-right: 20px;
  }
}

.course-list {
  display: flex;
  flex-direction: column;
}

.no-data {
  margin-top: 20px;
  text-align: center;
}
