<mat-card class="course-item"
  [ngClass]="{ 'course-item--top-rated': course.topRated }">
  <section class="course-item__content">
    <header class="card-header">
      <h2 class="card-header__title">
        <span>{{course.title | uppercase}}</span>
        <mat-icon *ngIf="course.topRated">star_rate</mat-icon>
      </h2>
      <div class="card-header__info">
        <div class="card-header__info__duration">
          {{course.duration}}
        </div>
        <div class="card-header__info__date">
          {{course.creationDate | date : 'MM.dd.yyyy'}}
        </div>
      </div>
    </header>
    <main class="course-item__content__desctiption">
      {{course.description}}
    </main>
  </section>
  <aside class="course-item__actions">
    <button class="course-item__actions__edit" mat-button color="primary" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
      Edit
    </button>
    <button class="course-item__actions__remove" mat-button color="warn" (click)="onRemove()">
      <mat-icon>remove</mat-icon>
      Delete
    </button>
  </aside>
</mat-card>
