header {
  height: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 100px;
    height: 100px;
  }

  .user-controls {
    padding: 0 30px;

    &__info {
      padding: 0 15px;
    }
  }
}
