<section class="course-toolbar">
  <div class="course-toolbar__search">
    <form autocomplete="off">
      <mat-form-field>
        <input matInput [(ngModel)]="searchCriteria" name="searchCriteria">
      </mat-form-field>
      <button type="submit" mat-raised-button>Search</button>
    </form>
  </div>

  <div class="course-toolbar__add-course">
    <button mat-raised-button (click)="addCourse()">
      <mat-icon>add</mat-icon>
      Add course
    </button>
  </div>
</section>

<section class="course-list" *ngIf="courses && courses.length; else noData">
  <app-course-list-item
    *ngFor="let course of courses"
    [course]="course"
    (edit)="editCourse($event)"
    (remove)="removeCourse($event)">
  </app-course-list-item>
  <button class="course-list__load-more" mat-raised-button *ngIf="hasMoreCourses" (click)="loadMore()">Load more</button>
</section>

<ng-template #noData>
  <div class="no-data">No data. Feel free to add new course</div>
</ng-template>
