:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  mat-card {
    margin-top: 10vh;
    padding: 30px;
    width: 500px;

    h2 {
      font-weight: 500;
    }

    form {
      display: flex;
      flex-direction: column;
    }

    .error-message {
      color: #c12e0e;
      text-align: center;
    }
  }
}
