:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

mat-card {
  margin: 10vh 0;
  padding: 30px;
  width: 500px;
  text-align: center;
}

h2 {
  font-weight: 500;
}

a {
  color: #198a8a;
  text-decoration: none;
}