.success {
  background-color: green;
}

.unsuccess {
  background-color: red;
}

.selected {
  background-color: blue;
}

.users {
  width: 150px;
}

.users li {
  border: 1px solid white;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-wrapper,
.homework-wrapper {
  width: 300px;
}